html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  box-sizing: border-box;
  font-family: digital;
  color: white;
  background: #1b1b1c;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  z-index: 1;
  background: inherit;
}

h1 {
  color: white;
  line-height: 2;
  margin: 0px;
  font-size: 3em;
  font-weight: 500
}

.title {
  flex-grow: 1;
}

/*.plus {
  font-size: 8em;
  line-height: normal;
  font-weight: 500;
}

.plus:hover {
  color: darkblue;
  cursor: pointer;
}*/

#disclaimer {
  line-height: 2;
  text-align: center;
  padding: 0px 20px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.weather-screen {
  background-image: url("./../resources/clear.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 110px 20px 10px 20px;  
  text-shadow: -1px 1px 6px darkblue;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}

.weather-screen p, details p {
  margin: 0px;
  line-height: 1.8;
}

details {
  font-size: 0.5em;
  margin-top: 15px;
  cursor: pointer;
  border:0px;
  outline:none;
}

.switch {
  font-size: 0.5em;
}

.switch:hover {
  color: blue;
  cursor: pointer;
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}


/** FONT */
@font-face {
  font-family: 'digital';
  src: url('../resources/digital.ttf');
}

.show {
  -webkit-animation: fadeIn 2000ms;
  -moz-animation: fadeIn 2000ms;
  animation: fadeIn 2000ms;
}

.hide {
  -webkit-animation: fadeIn 2000ms reverse;
  -moz-animation: fadeIn 2000ms reverse;
  animation: fadeIn 2000ms reverse;
}

@-moz-keyframes fadeIn {
    from {opacity:0;} to {opacity:1;}
}

@-webkit-keyframes fadeIn { 
    from {opacity:0;} to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;} to {opacity:1;}
}