html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  box-sizing: border-box;
  font-family: digital;
  color: white;
  background: #1b1b1c;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  z-index: 1;
  background: inherit;
}

h1 {
  color: white;
  line-height: 2;
  margin: 0px;
  font-size: 3em;
  font-weight: 500
}

.title {
  flex-grow: 1;
}

/*.plus {
  font-size: 8em;
  line-height: normal;
  font-weight: 500;
}

.plus:hover {
  color: darkblue;
  cursor: pointer;
}*/

#disclaimer {
  line-height: 2;
  text-align: center;
  padding: 0px 20px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.weather-screen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 110px 20px 10px 20px;  
  text-shadow: -1px 1px 6px darkblue;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.6em;
}

.weather-screen p, details p {
  margin: 0px;
  line-height: 1.8;
}

.details {
  font-size: 0.5em;
  margin-top: 15px;
  cursor: pointer;
  border:0px;
}

.details p {
  opacity: 0;
}

.switch {
  font-size: 0.5em;
}

.switch:hover {
  color: blue;
  cursor: pointer;
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clear {
  background-image: url("./../resources/clear.gif");
}

.clouds {
  background-image: url("./../resources/clouds.gif");
}

.rain {
  background-image: url("./../resources/rain.gif");
}

.snow {
  background-image: url("./../resources/snow.gif");
}


/** FONT */
@font-face {
  font-family: 'digital';
  src: url('../resources/digital.ttf');
}

.show {
  -webkit-animation: fadeIn 1200ms linear forwards;
  -moz-animation: fadeIn 1200ms linear forwards;
  animation: fadeIn 1200ms linear forwards;
}

.hide {
  -webkit-animation: fadeOut 1200ms linear forwards;
  -moz-animation: fadeOut 1200ms linear forwards;
  animation: fadeOut 1200ms linear forwards;
}

.rotate-clockwise {
  -webkit-animation: rotate 800ms 1 linear forwards;
  -moz-animation: rotate 800ms 1 linear forwards;
  animation: rotate 800ms 1 linear forwards;
}

.rotate-counter {
  -webkit-animation: rotate-counter 800ms 1 linear forwards;
  -moz-animation: rotate-counter 800ms 1 linear forwards;
  animation: rotate-counter 800ms 1 linear forwards;
}

@keyframes fadeIn {
    0% {opacity:0;} 100% {opacity:1;}
}
@keyframes fadeOut {
    0% {opacity:1;} 100% {opacity:0;}
}

@keyframes rotate { 
  0% { 
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform:rotate(0deg); 
  } 
  100% { 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    transform:rotate(90deg); 
  } 
}

@keyframes rotate-counter { 
  0% { 
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform:rotate(90deg); 
  } 
  100% { 
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
    transform:rotate(0deg); 
  } 
}


@media (min-width: 600px) {
  .weather-screen {
    font-size: 1.5;
  }
}